@using SMS.Core.Models;
@model SMS.Core.Models.AdmissionModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdmissionModel</h4>
<hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6 form-group">
                <label asp-for="Joining" class="control-label"></label>
                <input asp-for="Joining" class="form-control" />
                <span asp-validation-for="Joining" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="StudentPic" class="control-label"></label>
            <input asp-for="StudentPic" class="form-control" type="file" />
            <span asp-validation-for="StudentPic" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="StudentDOB" class="control-label"></label>
                <input asp-for="StudentDOB" class="form-control" />
                <span asp-validation-for="StudentDOB" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="FatherOccupation" class="control-label"></label>
                <input asp-for="FatherOccupation" class="form-control" />
                <span asp-validation-for="FatherOccupation" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="FatherPhoneNumber" class="control-label"></label>
                <input asp-for="FatherPhoneNumber" class="form-control" />
                <span asp-validation-for="FatherPhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="MotherOccupation" class="control-label"></label>
                <input asp-for="MotherOccupation" class="form-control" />
                <span asp-validation-for="MotherOccupation" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="MotherPhoneNumber" class="control-label"></label>
                <input asp-for="MotherPhoneNumber" class="form-control" />
                <span asp-validation-for="MotherPhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="StudentGender" class="control-label"></label>
                <select asp-for="StudentGender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option>----Select Gender----</option>
                </select>
                <span asp-validation-for="StudentGender" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="studentAddress" class="control-label"></label>
                <input asp-for="studentAddress" class="form-control" />
                <span asp-validation-for="studentAddress" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="StudentPhone" class="control-label"></label>
                <input asp-for="StudentPhone" class="form-control" />
                <span asp-validation-for="StudentPhone" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="NameOfLastStudying" class="control-label"></label>
                <input asp-for="NameOfLastStudying" class="form-control" />
                <span asp-validation-for="NameOfLastStudying" class="text-danger"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="ClassInfoId" class="control-label"></label>
            <select asp-for="ClassInfoId" class="form-control" asp-items="ViewBag.ClassInfo"><option>
                ----Select Class----
            </option></select>
            </div>
            <div class="col-6 form-group">
                <label asp-for="SectionId" class="control-label"></label>
                <select asp-for="SectionId" class ="form-control" asp-items="ViewBag.Section"><option>
                    ----Select Section----
                </option></select>
            </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
    
        </form>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
